[build.environment]
NODE_VERSION = "18"

[context.alpha]
environment = { CHANNEL = "alpha" }

[context.beta]
environment = { CHANNEL = "beta" }

[dev]
command = "next dev -p 3001"
port = 3000
targetPort = 3001

[functions.render]
# see https://github.com/alixaxel/chrome-aws-lambda/issues/270#issuecomment-1098349498
external_node_modules = ["chrome-aws-lambda"]

[functions]
deno_import_map = "./netlify/edge-functions/deno.json"

[[redirects]]
from = "https://insight.opensauced.pizza/*"
to = "https://insights.opensauced.pizza/:splat"
status = 301
force = true

[[redirects]]
from = "https://insights.opensauced.pizza/*"
to = "https://app.opensauced.pizza/:splat"
status = 301
force = true

[[redirects]]
from = "https://beta.insights.opensauced.pizza/*"
to = "https://beta.app.opensauced.pizza/:splat"
status = 301
force = true
