@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-weight: 500;
}
.login-step .sbui-btn-container {
  width: 100%;
}

.sbui-btn > span {
  display: flex;
  align-items: center;
}
.sbui-select:focus-visible {
  border: 1px solid #f76808 !important  ;
  box-shadow: 0px 0px 0px 2px #ffcca7, 0px 1px 2px rgba(0, 0, 0, 0.1) !important;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none !important;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.-left-18 {
  left: -4.5rem;
}
